@model IEnumerable<DoAn.Models.GioHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        $(".removeButton").click(function () {
            var model = {};
            // Get the ID of the product to remove
            model.Id = $(this).data('product-id');
            var rowToRemove = $(this).closest('tr'); // Get the parent row of the button

            $.ajax({
                type: "POST",
                url: '@Url.Action("Remove", "GioHang")',
                data: JSON.stringify(model),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    // Remove the corresponding row from the cart
                    rowToRemove.remove();
                },
                error: function () {
                    alert("Lỗi trong khi xóa giỏ hàng!");
                }
            });

            return false;
        });

        $("#deleteAllButton").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("XoaAllGioHang", "GioHang")',
                success: function () {
                    // Remove all rows from the cart
                    location.reload();

                },
                error: function () {
                    alert("Lỗi trong khi xóa toàn bộ giỏ hàng!");
                }
            });

            return false;
        });

    });
</script>
<script>
    $(document).ready(function () {
    $(".quantityInput").change(function () {
        var quantityInput = $(this);
        var quantity = quantityInput.val();
        var productId = quantityInput.data('product-id');
        var row = quantityInput.closest('tr');

        // Create the model object
        var model = {
            Id: productId,
            Quantity: quantity
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateQuantity", "GioHang")',
            data: JSON.stringify(model),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                // Update the price and total price in the current row
                row.find(".price").text(result.price.toLocaleString() + " VNĐ");
                row.find(".totalPrice").text(result.totalPrice);

                // Update the total price in the sidebar
                var totalPrice = result.totalPrice;
                $(".totalPrice").each(function () {
                    totalPrice += parseFloat($(this).text());
                });
                $("#sidebarTotalPrice").text(totalPrice.toLocaleString() + " VNĐ");
                // Optionally, you can display a success message or perform other actions
            },
            error: function () {
                alert("An error occurred while updating the quantity.");
            }
        });
    });

    // Rest of your code...
});

</script>

<body class="main-layout inner_page">

    <section class="section-content padding-y">
        <div class="container">
            <div class="row">
                <main class="col-md-9">
                    <div class="card">

                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" class="text-right" width="200"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr id="product-@item.SanPham.id">
                                            <td>
                                                <figure class="itemside">
                                                    <div class="aside">
                                                        <a href="@Url.Action("Detail", "SanPham", new { id = item.SanPham.id })">
                                                            <img src="@item.SanPham.thumbnail" class="img-sm" style="width:50%" />
                                                        </a>
                                                    </div>
                                                    <figcaption class="info">
                                                        <a href="#" class="title text-dark">@item.SanPham.title</a>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td>
                                                <input type="number" class="quantityInput" value="@item.quantity" data-product-id="@item.SanPham.id" min="1" />
                                            </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <var class="price">@String.Format("{0:0,0}", item.thanhtien) VNĐ</var>
                                                </div> <!-- price-wrap .// -->
                                            </td>
                                            <td class="text-right">
                                                <input type="hidden" value="@item.SanPham.id" id="productid" />

                                                <button class="removeButton" data-product-id="@item.SanPham.id">Remove</button>

                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <p>Không có sản phẩm trong giỏ hàng</p>
                                }


                            </tbody>
                        </table>

                        <div class="card-body border-top">
                            @using (Html.BeginForm("DatHang", "GioHang", FormMethod.Get))
                            {
                                <button type="submit" class="checkout">Checkout</button>

                            }                            <a href="#" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
                        </div>
                    </div> <!-- card.// -->

                    <div class="alert alert-success mt-3">
                        <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                    </div>

                </main> <!-- col.// -->
                <aside class="col-md-3">

                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total products:</dt>
                                <dd class="text-right"> @ViewBag.Tongsoluongsanpham</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Total price:</dt>
                                <dd class="text-right" id="sidebarTotalPrice">@String.Format("{0:0,0}", @ViewBag.Tongtien) VNĐ</dd>
                            </dl>
                            <button class="BtndeleteAll" id="deleteAllButton">Delete All</button>

                            <hr>


                        </div> <!-- card-body.// -->
                    </div>  <!-- card .// -->
                </aside> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>
</body>


<style>
    /* Body/Header stuff */
    body {
        font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 100;
    }

    .column-labels {
        margin-top: 10px
    }

    h1 {
        font-weight: 100;
        margin-top: 50px;
        margin-right: 50px;
    }

    label {
        color: #aaa;
    }




    .checkout {
        padding: 12.5px 30px;
        border: 0;
        border-radius: 100px;
        background-color: #008000;
        color: #ffffff;
        font-weight: Bold;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }

        .checkout:hover {
            background-color: #28dc0b;
            box-shadow: 0 0 20px #6fc5ff50;
            transform: scale(1.1);
        }

        .checkout:active {
            background-color: #3d94cf;
            transition: all 0.25s;
            -webkit-transition: all 0.25s;
            box-shadow: none;
            transform: scale(0.98);
        }




    .Continue {
        padding: 12.5px 30px;
        border: 0;
        border-radius: 100px;
        background-color: #008000;
        color: #ffffff;
        font-weight: Bold;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }

        .Continue:hover {
            background-color: #00FF00;
            box-shadow: 0 0 20px #6fc5ff50;
            transform: scale(1.1);
        }

        .Continue:active {
            background-color: #3d94cf;
            transition: all 0.25s;
            -webkit-transition: all 0.25s;
            box-shadow: none;
            transform: scale(0.98);
        }


    .BtndeleteAll {
        padding: 12.5px 30px;
        border: 0;
        border-radius: 50px;
        background-color: #EF4765;
        color: #ffffff;
        font-weight: Bold;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }

        .BtndeleteAll:hover {
            background-color: #ff0000;
            box-shadow: 0 0 20px #6fc5ff50;
            transform: scale(1.1);
        }

        .BtndeleteAll:active {
            background-color: #3d94cf;
            transition: all 0.25s;
            -webkit-transition: all 0.25s;
            box-shadow: none;
            transform: scale(0.98);
        }


    .removeButton {
        padding: 12.5px 30px;
        border: 0;
        border-radius: 50px;
        background-color: #EF4765;
        color: #ffffff;
        font-weight: Bold;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }

        .removeButton:hover {
            background-color: #ff0000;
            box-shadow: 0 0 20px #6fc5ff50;
            transform: scale(1.1);
        }

        .removeButton:active {
            background-color: #3d94cf;
            transition: all 0.25s;
            -webkit-transition: all 0.25s;
            box-shadow: none;
            transform: scale(0.98);
        }
</style>