@model DoAn.Models.SanPham

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="main-layout inner_page">



    <div class="head">

        <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    </div>


    <div class="body">

        <div class="wrapper">
            @using (Html.BeginForm("Index", "SanPham"))
            {
                <button type="submit" class="btn-back"><span>&#8249</span></button>
            }
            <div class="product-img" style="margin-left: 20px; font-size: 20px">
                <img src="@Model.thumbnail" height="420" width="327">
                Số lượng
                <div class="input-group" style="width:70px;">
                    <input type="number" id="ipQuantity" class="form-control" value="1" min="1">
                </div>

                <div class="product-price-btn">
                    <p style="font-size: 20px">Giá: <span>@String.Format("{0:0,0}", @Model.price)</span> VNĐ</p>

                    <button type="submit" id="addtocart" class="btn-add">
                        Add
                    </button>

                </div>
            </div>
            <div class="product-info">
                <div class="product-text">
                    <h1>@Model.title</h1>

                    <p>@Model.description</p>
                </div>

            </div>
        </div>

    </div>
    @section scripts{

        <script type="text/javascript">
    $(function () {
        $("#addtocart").click(function () {
            var model = {};
            //lấy id sản phẩm
            model.id = @Model.id;
            // lấy số lượng đặt hàng
            model.quantity = $("#ipQuantity").val();
            model.price = @Model.price;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "GioHang")',
                data:  JSON.stringify(model) ,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    Swal.fire({
                        title: 'Thành Công!',
                    })
                    $('#CartCount').text(@Session["count"] + 1);
                },
                error: function () {
                    alert("Lỗi trong khi thêm vào giỏ hàng!");
                }
            });
            return false;
        });
    });
        </script>
    }

    <style>
        body {
        }

        .btn-back:hover {
            background-color: #ddd;
            color: black;
        }

        .btn-back {
            text-decoration: none;
            display: inline-block;
            padding: 10px 30px;
            background-color: #2f5233;
            color: white;
            border-radius: 2px;
        }


        .wrapper {
            height: 700px;
            width: 1200px;
            margin: 50px auto;
            border-radius: 7px 7px 7px 7px;
            /* VIA CSS MATIC https://goo.gl/cIbnS */
            -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        }

        .product-img {
            float: left;
            height: 500px;
            width: 500px;
        }

            .product-img img {
                border-radius: 7px 0 0 7px;
                width: 500px;
                padding-top: 60px;
            }

        .product-info {
            float: right;
            width: 527px;
            border-radius: 0 7px 10px 7px;
            background-color: #ffffff;
        }

        .product-text {
            height: 300px;
            width: 327px;
        }

            .product-text h1 {
                margin: 0 0 0 50px;
                padding-top: 60px;
                width: inherit;
                font-size: 50px;
                color: #474747;
            }

            .product-text h1,
            .product-price-btn p {
                font-family: inherit, serif;
            }

            .product-text p {
                height: 500px;
                width: 400px;
                padding-top: 10px;
                margin: 0 0 0 5px;
                font-family: 'Playfair Display', serif;
                color: #8d8d8d;
                line-height: 1.7em;
                font-size: 20px;
                font-weight: lighter;
                overflow: hidden;
            }

        .product-price-btn {
            margin-top: 10px;
            margin-bottom: 60px;
        }

        .btn-add {
            display: inline-block;
            padding: 12px 28px;
            margin: 10px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            background-color: #2ba20a;
            border: none;
            border-radius: 40px;
            box-shadow: 0px 4px 0px #53e113;
            transition: all 0.2s ease-in-out;
        }

            .btn-add:hover {
                transform: translateY(-2px);
                box-shadow: 0px 6px 0px #55d714;
            }

            .btn-add:active {
                transform: translateY(0px);
                box-shadow: none;
                background-color: #2ba20a;
            }

            .btn-add:before,
            .btn-add:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
            }

            .btn-add:before {
                top: -3px;
                left: -3px;
                border-radius: 40px;
                border-top: 3px solid #fff;
                border-left: 3px solid #fff;
            }

            .btn-add:after {
                bottom: -3px;
                right: -3px;
                border-radius: 40px;
                border-bottom: 3px solid #fff;
                border-right: 3px solid #fff;
            }
    </style>


</body>